<% include ./partials/header %>

  <h4 class="display-4 text-center mb-5">Page not found</h4>
  <h5 class="display-5 text-center"><a href="/">Click here to go back in home</a></h5>
<% include ./partials/footer %>
