<% include ./partials/header%>

  <div class="container align-items-center mt-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card text-center border-primary ">
          <div class="card p-3 text-white bg-primary">
            <div class="card-header">Schedule</div>
            <div class="card-body">
              <h4 class="card-title"><a href="/schedule" class="btn btn-block btn-lg btn-outline-dark">Go to Schedule</a></h4>
              <p class="card-text">Register, Schedule and manage Payments of Patients</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-2"></div> -->
      <div class="col-6">
        <div class="card text-center border-warning ">
          <div class="card p-3 text-white bg-warning">
            <div class="card-header">Inventory</div>
            <div class="card-body">
              <h4 class="card-title"><a href="/inventory" class="btn btn-block btn-lg btn-outline-dark">Go to Inventory</a></h4>
              <p class="card-text">Manage your inventory</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 justify-content-center">
      <div class="col-6">
        <div class="card text-center border-success ">
          <div class="card p-3 text-white bg-success">
            <div class="card-header">Services</div>
            <div class="card-body">
                <h4 class="card-title"><a href="/services" class="btn btn-block btn-lg btn-outline-dark">Go to Services</a></h4>
              <p class="card-text">Manage all your services</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-2"></div> -->
      <div class="col-6">
        <div class="card text-center border-primary ">
          <div class="card p-3 text-white bg-primary">
            <div class="card-header">Payments</div>
            <div class="card-body">
              <h4 class="card-title"><a href="/services" class="btn btn-block btn-lg btn-outline-dark">Go to Services</a></h4>
              <p class="card-text">Check history of payments</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer%>
